{% extends 'pre_entrega/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>{%block Title %} Inicio {% endblock %}</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'pre_entrega/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'pre_entrega/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'pre_entrega/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{% static 'pre_entrega/css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{% static 'pre_entrega/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
     {% block navbar-footer %}
      
      <!-- banner section start --> 
      <div class="banner_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="banner_taital">We<br>Make Your<br>Dream Home</h1>
                     <div class="btn_main">
                        <div class="more_bt"><a href="#">Contact us</a></div>
                        <div class="contact_bt active"><a href="#">get a quote Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="banner_taital">We<br>Make Your<br>Dream Home</h1>
                     <div class="btn_main">
                        <div class="more_bt"><a href="#">Contact us</a></div>
                        <div class="contact_bt active"><a href="#">get a quote Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="banner_taital">We<br>Make Your<br>Dream Home</h1>
                     <div class="btn_main">
                        <div class="more_bt"><a href="#">Contact us</a></div>
                        <div class="contact_bt active"><a href="#">get a quote Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-left"><img src="{% static 'pre_entrega/images/left-icon.png' %}"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-right"><img src="{% static 'pre_entrega/images/right-icon.png' %}"></i>
            </a>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_main">
                     <div class="about_taital">About company</div>
                     <p class="about_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
                     <div class="about_bt"><a href="#">About More</a></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="{% static 'pre_entrega/images/about-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <form action="" method="POST">
         {% csrf_token %}
         <h1> Buscador de Camadas </h1>
         <table>
            {{formulario.as_table}}
         </table>
         <button type="submit">Buscar</button>
      </form>
      {% for curso in cursos %}
      <p>{{curso.nombre}} {{curso.camada}} </p>
      {% endfor %}

      {% endblock %}

      <!-- Javascript files-->
      <script src="{% static 'pre_entrega/js/jquery.min.js' %}"></script>
      <script src="{% static 'pre_entrega/js/popper.min.js' %}"></script>
      <script src="{% static 'pre_entrega/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'pre_entrega/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'pre_entrega/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'pre_entrega/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'pre_entrega/js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'pre_entrega/js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>